.auth-form-container .col-md-4 {
    width: 48.2%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding: 60px 80px 40px 80px;
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 1px 1px 15px 1px rgba(34, 60, 80, 0.2) inset;
}